                                 table {
                                     position: relative;
                                     left: 30px;
                                     right: auto;
                                 }